body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #dbedf3;
  font-family: "Arvo", serif;
  text-shadow: 3px 0 #da0463;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404b69;
  font-size: 5rem;
  font-family: "Arvo", serif;
  line-height: 2;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 0 #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.mobile-input {
  display: none;
}

@media (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .drum {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    line-height: 2.5;
    margin: 5px;
  }
  .w,
  .a,
  .s,
  .d,
  .j,
  .k,
  .l {
    background-size: 75px 75px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .set {
    margin: auto;
  }
  .mobile-input {
    display: block;
    margin: 1rem;
  }
  span {
    color: #dbedf3;
    font-family: "Arvo", serif;
    font-style: italic;
    text-decoration: underline;
  }
  input[type="text"] {
    font-family: "Arvo", serif;
    color: #da0463;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    outline: none;
    caret-color: aqua;
    letter-spacing: 0.3rem;
  }
}
